<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--配置MyBatis自带的日志输出-查看原生的sql-->
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

    <!--
        1、如果一个包下有很多的类，我们可以直接引入包
        2、这样包下面的所有类名，可以直接使用
    -->
    <typeAliases>
        <package name="com.hspedu.furn.bean"/>
    </typeAliases>

    <!--
    1. plugins标签需要放在typeAliases标签后，是doctype约束的
    2. 配置分页拦截器
    -->
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <!--解读
            配置分页合理化
            1. 如果用户请求的pageNum > pages，就显示查询最后一页
            2. 如果用户请求的pageNum < 0，就显示查询第一页

            -->
            <property name="reasonable" value="true"/>
        </plugin>
    </plugins>


</configuration>