# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\hspedu_javaweb\jquery\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
