server:
  port: 9002

#配置eureka-server
eureka:
  instance:
    hostname: eureka9002.com #服务实例名
  client:
    #配置不向注册中心注册自己
    register-with-eureka: false
    #表示自己就是注册中心，作用就是维护注册的服务实例，不需要去检索服务
    fetch-registry: false
    service-url:
      #这里注册到eureka9001 server
      defaultZone: http://eureka9001.com:9001/eureka/