<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>500 Internal Server Error</title>
    <!-- 引入 layui.css -->
    <link href="//unpkg.com/layui@2.9.7/dist/css/layui.css" rel="stylesheet">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            padding: 50px;
        }

        .error-container {
            text-align: center;
        }

        .error-code {
            font-size: 100px;
            color: #d9534f;
            margin-bottom: 20px;
        }

        .error-message {
            font-size: 24px;
            color: #333;
        }
    </style>
</head>
<body>
<div class="error-container">
    <div class="error-code">500</div>
    <div class="error-message">服务器内部错误</div>
</div>
</body>
</html>